In [3]:
import pandas as pd
import os

In [4]:

os.chdir('D:/DS/Kaggle')

In [6]:
# Load train data
pageviews = pd.read_csv('./pageviews.csv')
content_category = pd.read_csv('./CONTENT_CATEGORY.csv')
content_category_bottom = pd.read_csv('./CONTENT_CATEGORY_BOTTOM.csv')
content_category_top = pd.read_csv('./CONTENT_CATEGORY_TOP.csv')
device_data = pd.read_csv('./device_data.csv')
page = pd.read_csv('./PAGE.csv')
site_id = pd.read_csv('./SITE_ID.csv')

In [7]:
pageviews.head()

,FEC_EVENT,PAGE,CONTENT_CATEGORY,CONTENT_CATEGORY_TOP,CONTENT_CATEGORY_BOTTOM,SITE_ID,ON_SITE_SEARCH_TERM,USER_ID
0,2018-03-30 07:35:48,1,1,1,1,1,1,0
1,2018-03-30 07:35:52,2,2,2,2,2,1,0
2,2018-03-30 07:36:11,3,2,2,2,3,1,0
3,2018-03-30 07:36:16,4,2,2,2,3,1,0
4,2018-03-30 07:41:38,5,2,2,2,2,1,0